.app__menuitem {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1.6rem 0;
}

.app__menuitem-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__menuitem-sub {
  width: 100%;
  margin-top: 0.32rem;
}

.app__menuitem-name {
  flex: 1;
}

.app__menuitem-dash {
  width: 9rem;
  height: 0.1rem;
  background-color: var(--color-golden);
  margin: 0 1.6rem;
}

.app__menuitem-price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
