.app__laurels_awards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 4.8rem;
}

.app__laurels_awards-card {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 23rem;
  margin: 1.6rem;
}

.app__laurels_awards-card img {
  width: 5rem;
  height: 5rem;
}

.app__laurels_awards-card_content {
  display: flex;
  flex-direction: column;
  margin-left: 1.6rem;
}

@media screen and (min-width: 1900px) {
  .app__laurels_awards-card {
    min-width: 39rem;
  }
}

@media screen and (max-width: 450px) {
  .app__laurels_awards-card {
    min-width: 100%;
    margin: 1.6rem 0;
  }
}
